<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Microsoft.AspNet.Mvc" version="5.2.7" targetFramework="net461" />
  <package id="Microsoft.AspNet.Razor" version="3.2.7" targetFramework="net461" />
  <package id="Microsoft.AspNet.WebPages" version="3.2.7" targetFramework="net461" />
  <package id="Microsoft.Web.Infrastructure" version="1.0.0.0" targetFramework="net461" />
  <package id="Newtonsoft.Json" version="13.0.2" targetFramework="net461" />
  <package id="Senparc.CO2NET" version="1.0.102" targetFramework="net461" />
  <package id="Senparc.CO2NET.APM" version="0.6.102" targetFramework="net461" />
  <package id="Senparc.NeuChar" version="1.0.102" targetFramework="net461" />
  <package id="Senparc.NeuChar.App" version="0.6.102" targetFramework="net461" />
  <package id="Senparc.Weixin" version="6.6.102" targetFramework="net461" />
  <package id="Senparc.Weixin.MP" version="16.9.102" targetFramework="net461" />
  <package id="Senparc.Weixin.Work" version="3.7.102" targetFramework="net461" />
  <package id="Serilog" version="2.9.0" targetFramework="net461" />
  <package id="Serilog.Sinks.File" version="4.1.0" targetFramework="net461" />
</packages>