
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="m-portlet m-portlet--tabs" style="margin-bottom:0px;">
    <div class="m-portlet__head">
        <div class="m-portlet__head-tools">
            <ul class="nav nav-tabs m-tabs-line m-tabs-line--primary m-tabs-line--2x" role="tablist" id="iframe_tabs">
                <li class="nav-item m-tabs__item">
                    <a class="nav-link m-tabs__link active" data-toggle="tab" href="#m_tabs_6_1" role="tab" aria-expanded="true">
                        <i class="la la-home"></i>
                    </a>
                </li>
            </ul>
        </div>
    </div>
    <div class="m-portlet__body" id="iframBody"  style="padding:0px;">
        <div class="tab-content" id="iframeContent" style="padding-top:5px;">
            <div class="tab-pane active" id="m_tabs_6_1" role="tabpanel" aria-expanded="true">
                <iframe style="border:none;height:100%;width:100%" src="/Home/MainBody"></iframe>
            </div>
        </div>
    </div>
</div>