<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1"/>
    </startup>
  <appSettings>
    <add key="logPath" value="D:\LogDic"/>
    
    <!--微信配置-->
    <add key="WeixinAppId" value="D:\LogDic"/>
    <add key="WeixinAppSecret" value="D:\LogDic"/>
    
    <add key="WeixinCorpId" value="D:\LogDic"/>
    <add key="WeixinCorpAgentId" value="D:\LogDic"/>
    <add key="WeixinCorpSecret" value="D:\LogDic"/>
  </appSettings>
</configuration>
