
@{
    ViewBag.Title = "Index";
    Layout = null;
}
<!DOCTYPE html>
<html lang="en">
<head>
    <link href="~/Content/smart/src/styles/smart.default.css" rel="stylesheet" />
    <link href="~/Content/smart/src/styles/smart.bootstrap.css" rel="stylesheet" />
    <script src="~/Content/smart/framework/smart.element.js"></script>
    <script src="~/Content/smart/src/smart.bootstrap.js"></script>
    <script src="~/Content/smart/src/smart.button.js"></script>
</head>
<body>
    <smart-button>Click Me</smart-button>
</body>
</html>

